* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans';
    margin: 0;
}

.main {
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 50px;
}

.main h1, .main h2 {
    color: #404040;
}

.main p {
    color: #8c8c8c;
}

.main-header {
    text-align: center;
}

.heroes-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.hero-block {
    height: 270px;
    margin: 1%; 
    width: 23%;
}

.hero-thumbnail {
    border-bottom: 3px solid #ff1510;
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 100%;
    min-height: 200px;
}

.hero-name {
    color: #404040;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

.main-content .top-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.heroes-counter {
    color: #8c8c8c;
    font-size: 18px;
    width: 33%;
}

.order-opt, .only-favorites {
    color: #ff1510;
    font-size: 14px;
    text-align: right;
    width: 33%;
}

.order-opt img, .only-favorites img {
    height: 14px;
    margin-right: 10px;
}

.switch {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    height: 17px;
    width: 30px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    background-color: #ddd;
    border-radius: 17px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    background-color: #ff1510;
    border-radius: 50%;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.details {
    background-color: #e7f6e7;
    margin: 0 auto;
    max-width: 960px;
    padding: 10px 20px 50px 20px;
}

.details h1, .details h3 {
    color: #404040;
}

.details-header {
    display: flex;
}

.details .info {
    display: flex;
    justify-content: space-between;
}

.details .info .text {
    width: 45%;
}

.details .info .text p {
    color: #8c8c8c;
    font-size: 12px;
    text-align: justify;
    width: 100%;
}

.details .info .text .statistics {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details .info .text .statistics > div {
    width: 48%;
}

.details .info .text .statistics img {
    height: 22px;
    margin-right: 10px;
}

.details .info .photo {
    width: 45%;
}

.details .comics {
    width: 100%;
}

.details .comics .list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.details .comics .comic {
    height: 190px;
    margin: 1%;
    width: 14%;
}

.details .comics .comic p {
    color: #404040;
    font-size: 11px;
    font-weight: bold;
    margin: 5px 0px;
}

@media screen and (max-width: 480px) {
    .main-content .top-bar, .details .info {
        flex-direction: column;
    }

    .heroes-counter, .order-opt, .only-favorites {
        text-align: left;
        width: 100%;
    }

    .hero-block {
        width: 98%;
    }
}

@media screen and (min-width: 481px) and (max-width: 539px) {
    .hero-block {
        width: 48%;
    }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
    .hero-block {
        width: 31.3%;
    }
}