*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

input[type=search] {
    background-image: url('assets/busca/Lupa/Shape.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 12px 20px 12px 40px;
}

h1, h2 {
    color: #404040;
}

p {
    color: #8c8c8c;
}

.main {
    margin: 0 auto;
    max-width: 960px;
}

.main-header {
    text-align: center;
}

.heroes-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.hero-block {
    height: 270px;
    margin: 1%; 
    width: 23%;
}

.hero-thumbnail {
    border-bottom: 3px solid #ff1510;
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 100%;
    min-height: 200px;
}

.hero-name {
    color: #404040;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

.hero-name img {
    cursor: pointer;
    float: right;
    height: 15px;
}

.footer {
    background-color: #ff1510;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

@media screen and (max-width: 480px) {
    .hero-block {
        width: 98%;
    }
}

@media screen and (min-width: 481px) and (max-width: 539px) {
    .hero-block {
        width: 48%;
    }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
    .hero-block {
        width: 31.3%;
    }
}